# global
env/
.idea/
__pycache__/
.DS_Store
*.conf
*.ini

# manipulator
migrations/
logs/
corpus/
private_settings.py
dictionary/
static/
static_deployment/

models/
tensorboard/

# collector
harvester/collector/corpus/*
!harvester/collector/corpus/README.md
*.log
pages/

# seller
package-lock.json

